<h1>LOGIN</h1>

<form class="loginform">
    <h3>Login</h3>
    <label>Email:</label>
        <input type="text" id="email-login"></input>
    <label>Password:</label>
        <input type="password" id="pw-login"></input>
    <button type="submit">Submit</button>
</form>

<form class="signupform">
    <h3>Sign-Up</h3>
    <label>UserName:</label>
        <input type="text" id="username"></input>
    <label>Email:</label>
        <input type="text" id="email-signup"></input>
    <label>Password:</label>
        <input type="password" id="pw-signup"></input>
    <button type="submit">Submit</button>
</form>

<script src="/js/login.js"></script>